name: Continues Integration
on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:
  ci:
    name: Continues Integration
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          java-version: '25'
          distribution: 'temurin'
          cache: gradle
          cache-dependency-path: build.gradle

      - name: Tests
        run: ./gradlew test
